{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
  <h2 class="mb-3">
    Admin Dashboard : Profile 
  </h2>
{% endblock %}
