{% extends 'base.html.twig' %}

{% block body %}
  <h2 class="mb-3">
		Contact :
	</h2>

  <h4>
  You can contact us on our <a href="https://discord.gg/qYjG93TS8C" target="_blank">Discord</a> 
  or at <a href="mailto:contact@newworld-builder.com">contact@newworld-builder.com</a>.
  </h4>
{% endblock %}
